@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: rgb(253, 238, 220);
    display: flex;
}

div#side-bar {
    width: 15.625em;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px 15px;
     background-color: #F2D388;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    border-radius: 10px;
}

div#side-bar div#title {
    border-bottom: 2px solid black;
}

div#side-bar div#contents {
    display: flex;
    flex-direction: column;
}

.projects {
    background-color: #C98474;
    border: none;
    margin: 10px 0;
    font-size: 1.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px auto;
    flex: 0 0 5%;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
}

div#side-bar div#contents button.projects:hover {
    cursor: pointer;
}

.icon {
    margin-top: 5px;
}

div#side-bar button#add-project {
    background: none;
    border: none;
}

div#side-bar button#add-project i {
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    padding: 0px 0px;
    border-radius: 10px;
    color: white;
    background-color: rgb(167, 210, 203);
}

div#side-bar button#add-project i:hover {
    cursor: pointer;
}


form#project-form, form#task-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: large;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: center;
    padding: 20px 10px;
    font-weight: bold;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
input {
    font-family: 'JetBrains Mono', monospace;
    margin-top: 0.55em;
    border: none;
    height: auto;
    font-size: large;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

form#project-form input#project-submit, input#task-submit {
    margin-top: 0.7em;
    background-color: #F7E2D6;
    padding: 0.6em 0.6em;
}

form#project-form input#project-submit:hover, input#task-submit {
    cursor: pointer;
}





